# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
*venv/
.venv/

# Environment
.env

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# MyPy / type checking
.mypy_cache/

# Certificates
foodcal_cert.pem
foodcal_key.pem

# Editor
.vscode/
.idea/
*.sw?

# OS files
.DS_Store
Thumbs.db

# Project
backend/todo
.vscode/
node_modules/
.vite/
