# Logs
Food-Calories/logs
*.log
Food-Calories/npm-debug.log*
Food-Calories/yarn-debug.log*
Food-Calories/yarn-error.log*
Food-Calories/pnpm-debug.log*
Food-Calories/lerna-debug.log*

Food-Calories/node_modules
Food-Calories/dist
Food-Calories/dist-ssr
Food-Calories/*.local

# Editor directories and files
Food-Calories/.vscode/*
Food-Calories/!.vscode/extensions.json
Food-Calories/.idea
Food-Calories/.DS_Store
Food-Calories/*.suo
Food-Calories/*.ntvs*
Food-Calories/*.njsproj
Food-Calories/*.sln
Food-Calories/*.sw?

backend/.venv
backend/__pycache__/
backend/models/__pycache__/
backend/schemas/__pycache__/

backend/api/__pycache__/*
backend/api/__pycache__/
backend/api/__pycache__/api.cpython-312.pyc

